body {
    font-family: 'ProximaNova', Helvetica, sans-serif;
}

button:focus {outline:0;}

.checkin-index-title {
    font-size: 1.4em;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
}

.checkin-index-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
    max-width: 665px;
}

.checkin-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkin-text-body {
    margin: 0 0 12px 0;
    font-size: 19.3px;
    font-weight: 350;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 12px 8px 8px 8px;
    width: 95%;
    line-height: 1.2em
}


.checkin-avg-rating {
    margin: 8px 5px 8px 0;
    padding-top: 10px;
}

.checkin-avg-rating > i {
    padding-left: 3px;
    color: #acacac;
}

.checkin-avatar {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    margin-right: 6px;
}

.checkin-avatar-user {
    width: 52px;
    height: 52px;
    border-radius: 26px;
    overflow: hidden;
}

.checkin-beverage-img {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.checkin-beverage-img > img {
    min-width: 42px;
    max-width: 42px;
    min-height: 42px;
    max-height: 42px;
}

.checkin-text {
    font-size: 18px;
    margin-bottom: 10px;
    width: 90%;
    line-height: 1.3em;
}

.rating-box {
    width: 95%; 
    margin-top: 10px;
}

.checkin-link {
    text-decoration: none;
    color: #c60;
}

.checkin-link:hover {
    color: rgb(255, 154, 52);
    cursor: pointer;
}

.checkin-img{
    width: 99%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 12px;
    margin-top: 12px;
}
.checkin-img > img{
    width: 100%;
    border: none;
}

.date-detail {
    display: flex;
    width: 80%;
}

.checkin-date {
    font-size: 12px;
    padding-right: 15px;
    color: #999999;
}

.date-detail-item {
    font-size: 12px;
    text-decoration: none;
    color: #c60;
    padding-right: 15px;
}

.date-detail-item:hover {
    color: rgb(255, 154, 52);
    cursor: pointer;
}

.checkin-index-container {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;
}

.checkin-index {
    width: 89%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    // margin-left: 5px;
    padding-left: 24px;
    // min-width: 44%;
    // max-width: 44%;
}

.home-user-box {
    display: flex;
    padding-bottom: 40px;
}

.home-sidebar {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.home-sidebar-item {
    padding: 16px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.home-user-info {
    display: flex;
    align-items: center;
}

.home-name {
    font-size: 22px;
    padding-bottom: 5px;
    font-weight: 550;
}

.home-little-name {
    display: flex;
}

.home-little-name > i {
    font-size: 12px;
    color: #999999;
    padding-right: 5px;
}

.home-little-name > p {
    font-size: 12px;
    color: #999999
}

.home-flex-box1 {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.home-flex-box {
    display: flex;
    justify-content: space-around;
}

.home-show-stat1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 16px 6px 16px;
    border-right: 1px solid rgba(0,0,0,0.1);
    max-width: 110px;
    min-width: 110px;
    background-color: #f8f8f8;

}

.home-show-stat1:hover {
    background-color: #eeecec;
}

.home-show-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 16px 6px 16px;
    max-width: 110px;
    min-width: 110px;
    background-color: #f8f8f8;
}

.home-show-stat:hover {
    background-color: #eeecec;
}

.home-stat {
    color: #333333;
    font-size: 0.6em;
    font-weight: 600;
}

.home-count {
    color: #333333;
    font-size: 21px;
    margin-bottom: 4px;
}

.home-user-count {
    color: #333333;
    font-size: 23px;
    text-decoration: none;
}

.checkin-interact {
    padding: 13px 0;
    width: 100%;
    display: flex;
}

.checkin-comment {
    padding: 10px 0;    
    text-align: center;
    width: 46%;
    background-color: #a7a7a7;
    border: none;
    margin-right: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkin-comment:hover {
    cursor: pointer;
    background-color: #868585;
}

.checkin-comment > p {
    color: #ffffff;
    font-size: 16px;
}

.checkin-comment > i {
    color: #ffffff;
    font-size: 16px;
    padding-right: 4px;
}

.checkin-toast {
    background-color: #a7a7a7;
    padding: 10px 0;
    text-align: center;
    width: 46%;
    border: none;
    margin-left: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.checkin-toast:hover {
    cursor: pointer;
    background-color: #868585;
}

.checkin-toast-clicked {
    background-color: #ffcc00;
    padding: 10px 0;
    text-align: center;
    width: 46%;
    border: none;
    margin-left: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.checkin-toast-clicked:hover {
    cursor: pointer;
}

.toast {
    color: #ffffff;     
    font-size: 16px;
}

.checkin-toast > i {
    color: #ffffff;     
    font-size: 16px;
    padding-right: 4px;

}

.checkin-toast-clicked > i {
    color: #ffffff;     
    font-size: 16px;
    padding-right: 4px;

}


