body {
    font-family: 'ProximaNova', Helvetica, sans-serif;
    
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    
}

.splash-background {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg);
}

.splash-div {
    width: 535px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

i.fab.fa-untappd {
    font-size: 6rem
}

.logo-message {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 30px 30px 30px;
    width: 535px;
    text-align: center;
    
}

.splash-picture {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.short-bar {
    background: #ffc000;
    height: 4px;
    width: 50px;
    margin: 20px auto;
}

.feature-bar {
    border-bottom: 2px solid #ccc;
    height: 80px;
    background-color: #ffffff; 
}

.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 2px solid #ccc;
    background-color: #ffffff; 
}

.feature-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; 
}

.feature-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

.feature-title {
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1.5625rem;
    font-weight: 700;
    padding: 3px;
}

.feature-body {
    text-align: center;
    margin-bottom: 16px;
    width: 600px;
    font-size: 20.8px;
    font-weight: lighter
}

.img-div {
    text-align: center;
    margin-bottom: 30px;
}

.img-div > img {
    box-shadow: 0 2px 14px rgba(0,0,0,.1);
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1e1f1d; 
    padding: 20px
}

.footer-nav {
    
}

.footer-link {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-weight: 100;
}

.footer-link:hover {
    color: rgb(150, 150, 150);
    transition: color .25s ease-out, color .25s ease-out;
}

.footer-tag {
    color: white;
    padding: 10px;
    font-size: 17px;
    font-weight: 100;
}

.footer-icons {
    height: 70px;
    background-color: #ffffff; 
}

.other-features {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff; 
}

.other-features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

.other-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5625rem;
    font-weight: 700;
    padding-top: 15px;
}

.other-features-items {
    text-align: center;
    margin: 0 5px;
}

.other-item-title {
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 1.5625rem;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.other-item-body {
    text-align: center;
    margin-bottom: 16px;
    width: 600px;
    font-size: 22px;
    font-weight: lighter
}

.map-feature {
    background: linear-gradient(rgba(251,251,251,.7),#fbfbfb 80%),url(https://untappd.akamaized.net/assets/custom/homepage/images/map-bg.jpg);
    border-bottom: 2px solid #ccc;
    padding-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.map-feature-text {
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 46%;
    margin-top: 40px;
}

.map-short-bar {
    background: #ffc000;
    height: 4px;
    width: 50px;
    margin: 20px 20px 20px 0;
    text-align: left;
    line-height: 2em;
}

.map-feature-img {
    display: table-cell;
    float: none;
    vertical-align: middle;
    padding-left: 40px;
}

.map-feature-heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 1em;
    margin-top: 100px;
}

.map-feature-body{
    font-size: 1.3em;
    line-height: 1.4em;
    font-weight: lighter;
}
