body {
    font-family: 'ProximaNova', Helvetica, sans-serif;
}


.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}

.splash-background {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg)
}

.splash-div {
    width: 535px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.session-links {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff
}

.session-link {
    display: flex;
    justify-content: flex-end;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    margin: 0px 0px 16px 0px;
    font-size: 1em;
    background-color: transparent;
}

.session-link:hover {
    background-color: #ffffff;
    color: black;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
}

.logo {
    padding: 10px 10px 0px 10px;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.logo-span {
    font-size: 11px;
    padding: 0px 10px 10px 10px;
    display: flex;
    font-weight: 550;
    font-family: 'Josefin Sans', sans-serif;
}



i.fab.fa-untappd {
    font-size: 6rem
}

.logo-message {
    font-size: 40px;
    font-weight: 600;
    padding: 10px 30px 30px 30px;
    width: 535px;
    text-align: center;
    
}


.splash-picture {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.short-bar {
    background: #ffc000;
    height: 4px;
    width: 50px;
    margin: 20px auto;
}

.filler {
    height: 100px;
}

.login-background {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg);
    background-size: cover;
    position: absolute;
    max-width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form-container{
    background-color: white;
    height: 450px;
    width: 400px;
    position: absolute;
    padding: 24px 16px;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.session-input {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 8px 6px 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}

.session-input > input {
    border: none;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    padding-left: 12px;
}

.session-input > i {
    font-size: 1rem;
    padding-right: 12px;
    color: #ccc;
}

.session-require {
    color: #666;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 20px;
}

.session-button {
    width: 100%;
    max-width: 300px;
    padding: 12px 0;
    background-color: #ffcc00;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;

}

.session-button:hover {
    background-color: #ebc002;
    cursor: pointer;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.signup-text {
    border-top: 1px solid #ccc;
    color: #666;
    font-weight: 600;
    font-size: 19px;
    padding-top: 20px;
}

.signup-link {
    text-align: center;
    margin: 16px auto 0;
    width: 300px;
    color:#cc6600;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
}

.signup-link:hover {
    color:#ff8a16;
}


.logo-login {
    padding: 10px 10px 0px 10px;
    display: flex;
    font-size: 60px;
    font-weight: 900;
    color: #3f4040;
    font-family: 'Josefin Sans', sans-serif;
}

.logo-span-login {
    font-size: 13px;
    padding: 0px 10px 10px 10px;
    display: flex;
    color: #909090;
    font-weight: 550;
    font-family: 'Josefin Sans', sans-serif;
}

.errors {
    color: #E25858;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 6px;
}

.errors-li {
    padding-left: 5px;
}

