body {
    font-family: 'ProximaNova', Helvetica, sans-serif;
}

.session-links {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff
}

.session-link {
    display: flex;
    justify-content: flex-end;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    margin: 0px 0px 16px 0px;
    font-size: 0.95em;
    background-color: transparent;
    font-weight: lighter;
}

.session-link:hover {
    background-color: #ffffff;
    color: black;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.divider{
    width:15px;
    height:auto;
    display:inline-block;
}

.logo {
    padding: 10px 10px 0px 10px;
    display: flex;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.logo-span {
    font-size: 11px;
    padding: 0px 10px 10px 10px;
    display: flex;
    font-weight: 550;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.2em;
}

.filler {
    height: 100px;
}

.login-background {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg);
    background-size: cover;
    position: absolute;
    max-width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signup-background {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url(https://untappd.akamaized.net/assets/custom/homepage/images/beer-bg.jpg);
    background-size: cover;
    position: absolute;
    max-width: 100%;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form-container{
    background-color: white;
    height: 450px;
    width: 400px;
    position: absolute;
    padding: 24px 16px;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-container{
    background-color: white;
    height: 680px;
    width: 600px;
    padding: 24px 16px;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .signup-form-box {
    display: flex;
    flex-direction: column;
} */

.session-input {
    width: 250px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 8px 6px 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}

.session-input-2 {
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 8px 6px 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-top: 5px;
}


.session-input > input {
    border: none;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    padding-left: 12px;
}

.session-input-2 > input {
    border: none;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    padding-left: 12px;
}

.session-input > i {
    font-size: 1rem;
    padding-right: 12px;
    color: #ccc;
}

.session-input-2 > i {
    font-size: 1rem;
    padding-right: 12px;
    color: #ccc;
}

.session-require {
    color: #666;
    line-height: 1.2em;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 0.9em;
}

.session-button {
    width: 100%;
    max-width: 300px;
    width: 300px;
    padding: 12px 0;
    background-color: #ffcc00;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;

}

.session-demo {
    width: 100%;
    max-width: 300px;
    width: 300px;
    padding: 12px 0;
    background-color: #354c89;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

.session-demo:hover {
    background-color: #354c89;
    cursor: pointer;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.session-button:hover {
    background-color: #ebc002;
    cursor: pointer;
    transition: background-color .25s ease-out, color .25s ease-out;
}

.signup-text {
    border-top: 1px solid #ccc;
    color: #666;
    font-weight: 600;
    font-size: 19px;
    padding-top: 20px;
}

.signup-link {
    text-align: center;
    margin: 16px auto 0;
    width: 300px;
    color:#cc6600;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
}

.signup-link:hover {
    color:#ff8a16;
}


.logo-login {
    padding: 10px 10px 0px 10px;
    display: flex;
    font-size: 60px;
    font-weight: 900;
    color: #3f4040;
    font-family: 'Josefin Sans', sans-serif;
}

.logo-span-login {
    font-size: 13px;
    padding: 0px 10px 10px 10px;
    display: flex;
    color: #909090;
    font-weight: 550;
    font-family: 'Josefin Sans', sans-serif;
}

.errors {
    color: #ffffff;
    background-color:  #E25858;
    font-weight: 400;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.errors-li {
    padding-left: 5px;
}


.session-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-info-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-input {
    width: 250px;
    padding: 6px 8px 6px 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}
.user-input > input {
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    width: 100%;
    background-position: 10px 12px;
    
}
.select-input {
    width: 250px;
    padding: 3px 8px 3px 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    color: #ccc;
}

.user-select-input  {
    border: 0px;
    background-color: #ffffff;
    outline: 0px;
    font-size: 1em;
    padding-left: 1px;
    text-align: start;
    -webkit-appearance: none;
    color: #ccc;
}


div.select-input:after {
    content: "▼";
    top: 4px;
    right: 26px;
    bottom: 0;
    font-size: 0.7em;
    line-height: 30px;
    color: #ffcc00;
    pointer-events: none;   
}

.birthday {
    width: 250px;
    padding: 3px 7px 3px 12px;
    margin-bottom: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
    color: #ccc;
}

div.birthday-input:after {
    content: "▼";
    top: 4px;
    right: 26px;
    bottom: 0;
    font-size: 0.7em;
    line-height: 30px;
    color: #ffcc00;
    pointer-events: none;   
}


.filler-div {
    height: 40px;
}

.yellow-message {
    background-color: #FFFFAA;
    color: #666;
    padding: 6px;
    margin-bottom: 20px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    font-size: 0.9em;
    width: 90%
}

.pass-message {
    font-weight: 550;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

.age-warning {
    font-size: 0.7em;
    color: #666;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.or {
    margin: 10px auto;
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 18px;
    box-sizing: border-box;
    border: 3px solid #ddd;
    color: #ddd;
    font-size: 0.8em;
    padding-top: 8px;
}



